#html, #body {
	height:100%;
}

#wrapper{  
    width:105%;  
    background-image:url(/images/trees.jpg);
    background-size:cover;
	margin-left: -2.5%;
    font-family: 'Lato';

	height: 720px;
}  
  
#header{  
    background-color: rgba(0,0,0,.8);
    margin-top: -2%;
    padding-left: 1%;
    padding-top: 5px;
	text-align:center;
    color:white;
    font
   
}  
  
#header>h1{  
    font-size:200%;
    color:white;    
}  
  
h2{  
    font-size:130%;  
    font-family: 'Lato';

}  
  
#content{  
    margin:12px 0;  
    width: 50%;
    height: 40%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.8);
   	padding: 2em;
    line-height: 1em;
}  


  
h1{  
    font-size:150%;  
    color: white;
}  
  

